<ion-header>
  <ion-navbar color="cultivos" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chacras</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="back-color">
  <ion-grid>
    <ion-row>
      <ion-col col-12 padding>
        <h1 text-center>Listado de Chacras</h1>
        <p text-center>Presentacion en forma de lista de chacras donde se obtiene la produccion</p>
      </ion-col>
      <ion-col col-12 class="back-black-color">
        <h4 padding no-margin>Datos generales de las Chacras</h4>
        <ion-row>

          <!--Formato Lista-->
          <ion-col col-12 col-md-10 offset-md-1 class="hidden-xs-down">
            <ion-list>
              <ion-item ion-item *ngFor="let chacra of chacrasList" class="no-border">
                <ion-row>
                  <ion-col col-12>
                    <ion-row align-items-center>
                      <ion-col col-4>
                        <ion-row>
                          <ion-col col-12>
                            <h2 text-center>Chacra</h2>
                          </ion-col>
                          <ion-col col-12>
                            <p text-center>{{chacra.nombre}}</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-4>
                        <ion-row>
                          <ion-col col-12>
                            <h2 text-center>Renspa</h2>
                          </ion-col>
                          <ion-col col-12>
                            <p text-center>{{chacra.renspa}}</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-4> 
                        <ion-row>
                          <ion-col col-12 class="vertical-align-icon">
                            <ion-icon class="size-icon" name="more"></ion-icon>
                          </ion-col>
                          <ion-col col-12 class="vertical-align-icon">
                            <ion-row>
                              <ion-col col-4>
                                <button ion-button color="semiDark" round icon-only small (click)="alertNewCuadro(chacra.id)">
                                  <ion-icon name="add"></ion-icon>
                                </button>
                              </ion-col>
                              <ion-col col-4>
                                <button ion-button color="semiDark" round icon-only small (click)="goToEdit(chacra)">
                                  <ion-icon name="create"></ion-icon>
                                </button>
                              </ion-col>
                              <ion-col col-4>
                                <button ion-button color="semiDark" round icon-only small 
                                  (click)="alertDeleteChacra(chacra.id)">
                                  <ion-icon name="trash"></ion-icon>
                                </button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col no-padding col-12 col-lg-8 offset-lg-2 offset-0>
                    <ion-list>
                      <ion-item class="no-border">
                        <ion-row align-items-center>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>Cuadro</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>Up</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon"> 
                             <ion-icon class="size-icon" name="more"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                      <ion-item class="no-border" *ngFor="let cuadro of chacra.cuadros; let i = 'index'">
                        <ion-row align-items-center>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>{{i}}</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>{{cuadro.up}}</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon"> 
                            <ion-row align-items-center>
                              <ion-col col-6>
                                <button ion-button color="semiDark" round icon-only small (click)="alertEditCuadro(cuadro)">
                                  <ion-icon name="create"></ion-icon>
                                </button>
                              </ion-col>
                              <ion-col col-6>
                                <button ion-button color="semiDark" round icon-only small 
                                  (click)="alertDeleteCuadro(cuadro.id)">
                                  <ion-icon name="trash"></ion-icon>
                                </button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-col>

          <!-- Formato Card-->
          <ion-col *ngFor="let chacra of chacrasList" offset-sm-1 col-sm-10 col-12 col-md-6 offset-md-0 col-lg-8 offset-lg-2 offset-0 no-padding class="hidden-sm-up">
            <ion-card no-padding>
              <ion-card-header no-padding no-margin class="card-hearder-color no-border">
                <ion-row align-items-center>
                  <ion-col col-6 no-padding>
                    <h2 margin text-center style="color: white">{{chacra.nombre}}</h2>
                  </ion-col>
                  <ion-col col-6 no-padding> 
                    <ion-buttons right>
                      <ion-col col-4>
                        <button ion-button color="semiDark" round icon-only small (click)="alertNewCuadro(chacra.id)">
                          <ion-icon name="add"></ion-icon>
                        </button>
                      </ion-col>
                      <ion-col col-4>
                        <button ion-button color="semiDark" round icon-only small (click)="goToEdit(chacra)">
                          <ion-icon name="create"></ion-icon>
                        </button>
                      </ion-col>
                      <ion-col col-4>
                        <button ion-button color="semiDark" round icon-only small 
                          (click)="alertDeleteChacra(chacra.id)">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </ion-col>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content no-padding no-margin>
                <ion-list no-padding no-margin>
                  <ion-item class="no-border" padding>
                    <ion-icon name="cube" item-start></ion-icon>
                    {{chacra.renspa}}
                  </ion-item>
                  <ion-item class="no-border">
                    <ion-list>
                      <ion-item>
                        <ion-row align-items-center>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>Cuadro</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>Up</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon"> 
                             <ion-icon class="size-icon" name="more"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                      <ion-item class="no-border" *ngFor="let cuadro of chacra.cuadros; let i = 'index'">
                        <ion-row align-items-center>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>{{i}}</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon">
                            <p text-center>{{cuadro.up}}</p>
                          </ion-col>
                          <ion-col col-4 class="vertical-align-icon"> 
                            <ion-row align-items-center>
                              <ion-col col-12>
                                <button ion-button color="semiDark" round icon-only small (click)="alertEditCuadro(cuadro)">
                                  <ion-icon name="create"></ion-icon>
                                </button>
                              </ion-col>
                              <ion-col col-12>
                                <button ion-button color="semiDark" round icon-only small 
                                  (click)="alertDeleteCuadro(cuadro.id)">
                                  <ion-icon name="trash"></ion-icon>
                                </button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>  
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right padding margin>
    <button ion-fab color="semiDark" (click)="goToAddChacra()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>


