<ion-header>
  <ion-navbar color="cultivos" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingresos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="back-color" style="margin-top: 0px">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-4 push-md-8 col-lg-4 push-lg-8 no-margin no-padding>
        <ion-searchbar no-margin no-padding
          [(ngModel)]="searchInput"
          [showCancelButton]="false"
          placeholder="Numero Remito"
          (ionInput)="onSearchInput($event)"
          (ionCancel)="onSearchCancel($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col col-12 no-margin no-padding>
        <h1 padding text-center>Listado de Ingresos</h1>
        <!--p text-center>Listado de de todos los ingresos de fruta con sus correspondientes lotes</p-->
      </ion-col>
      <ion-col col-12>
        <ion-row>
          <ion-col col-12 col-md-3 col-lg-3>
            <ion-row>
              <ion-col col-12 margin-bottom>
                <h3 ion-text>Ingresos</h3>
                <p>{{resultLength}} resultados</p>
              </ion-col>
              <ion-col col-12 margin-bottom>
                <h6 ion-text>Ingresos Por Fecha</h6>
                <ion-item col-12 class="no-border no-color">
                  <ion-label stacked>Fecha</ion-label>
                  <ion-input type="date" [value]="byDate" (input)="dateChange($event.target.value)" name="fechaIngreso"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12 margin-bottom>
                <h6 ion-text>Ingresos Por Chacra</h6>
                <select-searchable
                  [(ngModel)]="byChacra"
                  name="chacra"
                  title="Chacras"
                  itemValueField="nombre"
                  itemTextField="nombre"
                  [items]="chacras"
                  [canSearch]="true"
                  (onChange)="chacraChange($event)"
                  [canReset]="true">
                </select-searchable>
              </ion-col>
              <ion-col col-12 margin-bottom>
                <h6 ion-text>Ingresos Por Chofer</h6>
                <select-searchable
                  [(ngModel)]="byChofer"
                  name="byChofer"
                  title="Chofer"
                  itemValueField="nombreChofer"
                  itemTextField="nombreChofer"
                  [items]="camiones"
                  [canSearch]="true"
                  (onChange)="camionChange($event)"
                  [canReset]="true">
                </select-searchable>
              </ion-col>
              <ion-col col-12 margin-bottom>
                <h6 ion-text>Ingresos Por Institucion</h6>
                <select-searchable
                  [(ngModel)]="byInstitucion"
                  name="institucion"
                  title="Institucion"
                  itemValueField="nombre"
                  itemTextField="nombre"
                  [items]="instituciones"
                  [canSearch]="true"
                  (onChange)="institucionChange($event)"
                  [canReset]="true">
                </select-searchable>
              </ion-col>
              <ion-col col-12 margin-bottom>
                <h6 ion-text>Ingresos Por Productor</h6>
                <select-searchable
                  [(ngModel)]="byProductor"
                  name="productor"
                  title="Productor"
                  itemValueField="nombre"
                  itemTextField="nombre"
                  [items]="productores"
                  [canSearch]="true"
                  (onChange)="productorChange($event)"
                  [canReset]="true">
                </select-searchable>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12 col-md-9 col-lg-9>
            <ion-row>
              <ion-col padding col-12 class="accordion-list" *ngFor=" let ingreso of ingresosList; let i = 'index'">
                <button ion-item class="no-border-cards" (click)="toggleIngreso(i)" detail-none [ngClass]="{ 'section-active': ingreso.open, 'section': !ingreso.open }">
                  <ion-row align-items-center>
                    <ion-col col-sm-1 col-md-1 col-lg-1 class="hidden-xs-down">
                      <ion-icon item-left name="arrow-forward" *ngIf="!ingreso.open"></ion-icon>
                      <ion-icon item-left name="arrow-down" *ngIf="ingreso.open"></ion-icon>
                    </ion-col>        
                    <ion-col col-12 col-sm-7 col-md-9 col-lg-9>
                      <h2 padding text-center>Remito {{ingreso.nroRemito}}</h2>
                    </ion-col>
                    <ion-col col-8 offset-2 col-sm-4 col-md-2 col-lg-2 offset-sm-0 offset-md-0 offset-lg-0>
                      <ion-buttons>
                        <ion-row align-items-center>
                          <ion-col col-2 class="vertical-align-icon">
                            <button ion-button icon-only small outline color="white" (click)="goToLotes(ingreso)"><ion-icon name="cube"></ion-icon></button>
                          </ion-col>
                          <ion-col col-2 class="vertical-align-icon">
                            <button ion-button icon-only small outline color="white" (click)="goToViajes(ingreso)"><ion-icon name="bus"></ion-icon></button>
                          </ion-col>
                          <ion-col col-2 class="vertical-align-icon">
                            <button ion-button icon-only small outline color="white" (click)="goToEditIngreso(ingreso)"><ion-icon name="create"></ion-icon></button>
                          </ion-col>
                          <ion-col col-2 class="vertical-align-icon">
                            <button ion-button icon-only small outline color="white" (click)="alertDeleteIngreso(ingreso.id)"><ion-icon name="trash"></ion-icon></button>
                          </ion-col>
                          <ion-col col-2 class="vertical-align-icon">
                            <button ion-button icon-only small outline color="white" (click)="goToPrint(ingreso)"><ion-icon name="print"></ion-icon></button>
                          </ion-col>
                        </ion-row>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </button>
                <ion-grid *ngIf="ingreso.open" class="back-black-color">
                  <ion-row>
                    <ion-col padding col-12>
                      <ion-row>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="calendar" item-start></ion-icon>
                              {{ingreso.fechaIngreso}}
                          </ion-item>
                        </ion-col>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="contact" item-start></ion-icon>
                              {{ingreso.createdFor}}
                          </ion-item>
                        </ion-col>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="leaf" item-start></ion-icon>
                              {{ingreso.lotes[0].chacra.renspa}} - {{ingreso.lotes[0].chacra.nombre}}
                          </ion-item>
                        </ion-col>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="contact" item-start></ion-icon>
                              {{ingreso.lotes[0].chacra.productor.nombre}}
                          </ion-item>
                        </ion-col>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="home" item-start></ion-icon>
                              {{ingreso.ingresos_viajes[0].institucion.nombre}}
                          </ion-item>
                        </ion-col>
                        <ion-col padding col-12 col-md-6 col-lg-6>
                          <ion-item class="no-border">
                            <ion-icon name="bus" item-start></ion-icon>
                              {{ingreso.ingresos_viajes[0].camion.nombreChofer}}
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right padding margin>
      <button ion-fab color="semiDark" (click)="goToAddIngreso()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>